body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
}

.section-title {
  font-size: 25px;
  font-weight: bold;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  padding-top: 20px;
  margin-bottom: 100px;
}

.header .header-logo .header-logo-img {
  width: 200px;
}

.header .header-info .header-info-text {
  display: inline;
  margin-right: 60px;
  font-weight: bold;
  font-size: 15px;
}

.header .header-info .header-info-text:last-child {
  margin-right: 0;
}

.offer {
  margin-bottom: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.offer .offer-text {
  width: 600px;
  margin-right: 120px;
}

.offer .offer-text .offer-text-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}

.offer .offer-text .offer-text-subtitle {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 30px;
}

.offer .offer-text .offer-text-button {
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: #009846;
  outline: none;
}

.offer .offer-text .offer-text-button .offer-text-button-link {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.offer .offer-image .offer-image-img {
  max-width: 100%;
  border-radius: 100%;
}

.order {
  margin-bottom: 100px;
  display: block;
}

.order .order-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}

.order .order-list .order-list-item {
  width: 200px;
}

.order .order-list .order-list-item .order-list-item-title {
  font-size: 15px;
  font-weight: bold;
}

.order .order-list .order-list-item .order-list-item-icon {
  max-width: 100%;
}

.order .order-list .order-list-item .order-list-item-subtitle {
  font-size: 15px;
  font-weight: normal;
}

.contacts {
  margin-bottom: 100px;
  display: block;
}

.contacts .container {
  display: block;
}

.contacts .container .section-title {
  padding-top: 100px;
  font-size: 25px;
}

.contacts .container .contacts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .container .contacts-content .contacts-content-text .contacts-content-title {
  font-size: 15px;
  font-weight: bold;
}

.contacts .container .contacts-content .contacts-content-text .contacts-content-subtitle {
  font-size: 15px;
  font-weight: normal;
}

.contacts .container .contacts-content .contacts-content-text .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.contacts .container .contacts-content .contacts-content-text .social .social-link .social-link-icon {
  width: 40px;
  margin-right: 15px;
}

.contacts .container .contacts-content .contacts-map .google-map {
  width: 600px;
  height: 400px;
}

.footer {
  height: 200px;
  background-color: #000;
}

.footer .footer-info {
  margin: 0 auto;
}

.footer .footer-info .footer-info-text {
  padding-top: 70px;
  font-size: 15px;
  color: #fff;
}

@media (max-width: 1000px) {
  .container {
    max-width: 750px;
  }
  .section-title {
    font-size: 25px;
  }
  .header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    padding-top: 20px;
    margin-bottom: 100px;
  }
  .header .header-logo .header-logo-img {
    width: 200px;
  }
  .header .header-info .header-info-text {
    display: inline;
    margin-right: 60px;
    font-weight: bold;
    font-size: 15px;
  }
  .header .header-info .header-info-text:last-child {
    margin-right: 0;
  }
  .offer .offer-text {
    width: 400px;
  }
  .offer .offer-text .offer-title {
    font-size: 25px;
  }
  .offer .offer-text .offer-subtitle {
    font-size: 15px;
  }
  .offer .offer-text .offer-button {
    font-size: 15px;
    width: 300px;
    height: 40px;
  }
  .order .order-list .order-item {
    width: 130px;
  }
  .order .order-list .order-item .order-title {
    font-size: 15px;
  }
  .order .order-list .order-item .order-subtitle {
    font-size: 15px;
  }
  .contacts .container .section-title {
    font-size: 25px;
  }
  .contacts .container .contacts-content .contacts-text .contacts-title {
    font-size: 15px;
  }
  .contacts .container .contacts-content .contacts-text .contacts-subtitle {
    font-size: 15px;
  }
  .contacts .container .contacts-content .contacts-text .social .social-link .social-icon {
    width: 30px;
    margin-right: 10px;
  }
  .contacts .container .contacts-content .contacts-map .google-map {
    width: 400px;
    height: 300px;
  }
  .footer {
    height: 200px;
  }
  .footer .footer-content {
    padding-top: 70px;
  }
  .footer .footer-content .footer-work-time .footer-time {
    font-size: 15px;
  }
  .footer .developer {
    padding-top: 70px;
  }
  .footer .developer .developer-name {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 550px;
  }
  .section-title {
    font-size: 25px;
  }
  .header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    padding-top: 20px;
    margin-bottom: 100px;
  }
  .header .header-logo {
    margin: 0 auto;
  }
  .header .header-logo .header-logo-img {
    width: 200px;
  }
  .header .header-info {
    display: none;
  }
  .header .header-info .header-info-text {
    display: inline;
    margin-right: 60px;
    font-weight: bold;
    font-size: 15px;
  }
  .header .header-info .header-info-text:last-child {
    margin-right: 0;
  }
  .offer {
    display: block;
    text-align: center;
  }
  .offer .offer-text {
    width: 100%;
    margin-bottom: 70px;
  }
  .offer .offer-text .offer-title {
    font-size: 25px;
  }
  .offer .offer-text .offer-subtitle {
    font-size: 15px;
  }
  .offer .offer-text .offer-button {
    font-size: 15px;
    width: 300px;
    height: 40px;
  }
  .order {
    text-align: center;
  }
  .order .order-list {
    display: block;
    text-align: center;
  }
  .order .order-list .order-list-item {
    display: block;
    margin: 0 auto;
    width: 200px;
    margin-bottom: 50px;
  }
  .order .order-list .order-list-item:last-child {
    margin-bottom: 0;
  }
  .order .order-list .order-list-item:first-child {
    margin-top: 50px;
  }
  .order .order-list .order-list-item .order-title {
    font-size: 15px;
  }
  .order .order-list .order-list-item .order-subtitle {
    font-size: 15px;
  }
  .contacts .container .section-title {
    font-size: 25px;
  }
  .contacts .container .contacts-content .contacts-text .contacts-title {
    font-size: 15px;
  }
  .contacts .container .contacts-content .contacts-text .contacts-subtitle {
    font-size: 15px;
  }
  .contacts .container .contacts-content .contacts-text .social .social-link .social-icon {
    width: 30px;
    margin-right: 10px;
  }
  .contacts .container .contacts-content .contacts-map {
    display: none;
  }
  .footer {
    height: 200px;
    background-color: #000;
    text-align: center;
  }
  .footer .footer-info .footer-info-text {
    padding-top: 70px;
    font-size: 15px;
    color: #fff;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: none;
  }
  .section-title {
    font-size: 20px;
    text-align: center;
  }
  .header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    padding-top: 20px;
    margin-bottom: 100px;
  }
  .header .header-info .header-info-text {
    display: inline;
    margin-right: 60px;
    font-weight: bold;
    font-size: 15px;
  }
  .header .header-info .header-info-text:last-child {
    margin-right: 0;
  }
  .offer {
    margin: 0 auto;
  }
  .offer .offer-text .offer-text-title {
    font-size: 20px;
  }
  .offer .offer-text .offer-text-subtitle {
    font-size: 12px;
  }
  .offer .offer-text .offer-text-button {
    font-size: 12px;
    width: 100%;
    height: 40px;
  }
  .order {
    margin-bottom: 0;
  }
  .order .order-list {
    text-align: center;
    display: block;
  }
  .order .order-list .order-list-item {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100px;
    display: block;
  }
  .order .order-list .order-list-item:last-child {
    margin-bottom: 0;
  }
  .order .order-list .order-list-item .order-list-item-title {
    font-size: 12px;
  }
  .order .order-list .order-list-item .order-list-item-subtitle {
    font-size: 12px;
  }
  .contacts {
    margin-bottom: 50px;
  }
  .contacts .container .section-title {
    font-size: 20px;
  }
  .contacts .container .contacts-content .contacts-text .contacts-title {
    font-size: 12px;
  }
  .contacts .container .contacts-content .contacts-text .contacts-subtitle {
    font-size: 12px;
  }
  .contacts .container .contacts-content .contacts-text .social .social-link .social-icon {
    width: 20px;
    margin-right: 10px;
  }
  .contacts .container .contacts-content .contacts-map {
    display: none;
  }
  .footer {
    height: 200px;
    background-color: #000;
  }
  .footer .footer-info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .footer-info .footer-info-text {
    padding-top: 70px;
    font-size: 15px;
    color: #fff;
  }
}
/*# sourceMappingURL=style.css.map */